<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        table {
            border: 4px double #333;
            border-collapse: separate;
            width: 100%;
            border-spacing: 7px 11px;
        }
    </style>
</head>
<body>
<h1 align="center">Comparison report</h1>
<h3 align="center">metadata</h3>
<table>
    <tr>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>
    <tr th:style="${Tech.MetadataNameEqual}? '' : 'color: lightskyblue;'">
        <td align="center" >
            <p th:text="'name: ' + ${jsonfile1.metadata.application.name}"/>
        </td>
        <td align="center">
            <p th:text="'name: ' + ${jsonfile2.metadata.application.name}"/>
        </td>
    </tr>
    <tr th:style="${Tech.MetadataVersionEqual}? '' : 'color: lightskyblue;'">
        <td align="center">
            <p th:text="'version: ' + ${jsonfile1.metadata.description.version}"/>
        </td>
        <td align="center">
            <p th:text="'version: ' + ${jsonfile2.metadata.description.version}"/>
        </td>
    </tr>
</table>

<h3 align="center">services</h3>
<table>
    <tr>
        <th></th>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>

    <tr th:each="i:${#numbers.sequence(0, Tech.servicesLength-1)}"
            th:with =  "isFirstElementExist = ${jsonfile1.services.length > i},
                        isSecondElementExist = ${jsonfile2.services.length > i},
                        isNotEqual = ${isFirstElementExist and isSecondElementExist and (jsonfile1.services[i].docker_image_name != jsonfile2.services[i].docker_image_name or jsonfile1.services[i].docker_tag != jsonfile2.services[i].docker_tag)},
                        isNotEqual2 = ${isFirstElementExist and !isSecondElementExist},
                        isNotEqual3 = ${isSecondElementExist and !isFirstElementExist},
                        services1 = ${isFirstElementExist}? ${jsonfile1.services[i]},
                        services2 = ${isSecondElementExist}? ${jsonfile2.services[i]}"
                        th:style="${isNotEqual2}? 'background: indianred;'"
                        th:styleappend="${isNotEqual3} ? 'background: greenyellow;'">

        <td align="center"><p th:utext="${i+1}">..</p></td>

        <td align="center">
            <th:block th:if="${isFirstElementExist}">
                <div  th:style="${isNotEqual}? 'background: indianred;'">

                <p th:utext="${services1.service_short_name != null}?' service-short-name: '  + ${services1.service_short_name} : '..'" th:style="${ !isNotEqual and isSecondElementExist and services1.service_short_name != services2.service_short_name }?'background: lightskyblue;'">..</p>
                <p th:utext="' service_name: ' + ${services1.service_name}" th:style="${!isNotEqual and isSecondElementExist and services1.service_name != services2.service_name }?'background: lightskyblue;'">..</p>
                <p th:utext="' artifact_type: ' + ${services1.artifact_type}" th:style="${!isNotEqual and isSecondElementExist and services1.artifact_type != services2.artifact_type }?'background: lightskyblue;'">..</p>
                <p th:utext="' docker_registry: ' + ${services1.docker_registry}" th:style="${!isNotEqual and isSecondElementExist and services1.docker_registry != services2.docker_registry }?'background: lightskyblue;'">..</p>
                <p th:utext="' docker_image_name: ' + ${services1.docker_image_name}" th:style="${!isNotEqual and isSecondElementExist and services1.docker_image_name != services2.docker_image_name }?'background: lightskyblue;'">..</p>
                <p th:utext="' docker_tag: ' + ${services1.docker_tag}" th:style="${!isNotEqual and isSecondElementExist and services1.docker_tag != services2.docker_tag }?'background: lightskyblue;'">..</p>
                <p th:utext="${services1.force != null}?' force: ' + ${services1.force}" th:style="${!isNotEqual and isSecondElementExist and services1.force != services2.force }?'background: lightskyblue;'">..</p>
                <p th:utext="${services1.github_repository != null}?' github_repository: ' + ${services1.github_repository} : '..'" th:style="${!isNotEqual and isSecondElementExist and services1.github_repository != services2.github_repository }?'background: lightskyblue;'">..</p>
                <p th:utext="${services1.github_branch != null}?' github_branch: ' + ${services1.github_branch} : '..'" th:style="${!isNotEqual and isSecondElementExist and services1.github_branch != services2.github_branch }?'background: lightskyblue;'">..</p>
                <p th:utext="${services1.github_hash != null}?' github_hash: ' + ${services1.github_hash} : '..'" th:style="${!isNotEqual and isSecondElementExist and services1.github_hash != services2.github_hash }?'background: lightskyblue;'">..</p>
                <p th:utext="' sha1: ' + ${services1.hashes.sha1} " th:style="${!isNotEqual and isSecondElementExist and services1.hashes.sha1 != services2.hashes.sha1 }?'background: lightskyblue;'">..</p>
                <p th:utext="' sha256: ' + ${services1.hashes.sha256}" th:style="${!isNotEqual and isSecondElementExist and services1.hashes.sha256 != services2.hashes.sha256 }?'background: lightskyblue;'">..</p>
                 </div>
            </th:block>
        </td>
        <td align="center">
            <th:block th:if="${isSecondElementExist}">
                <div  th:style="${isNotEqual}? 'background: greenyellow;'">
                <p th:utext="${services2.service_short_name != null}?' service-short-name: ' + ${services2.service_short_name}: '..'" th:style="${!isNotEqual and isFirstElementExist and services2.service_short_name != services1.service_short_name }?'background: lightskyblue;'">..</p>
                <p th:utext="' service_name: ' + ${services2.service_name}" th:style="${!isNotEqual and isFirstElementExist and services2.service_name != services1.service_name }?'background: lightskyblue;'">..</p>
                <p th:utext="' artifact_type: ' + ${services2.artifact_type}" th:style="${!isNotEqual and isFirstElementExist and services2.artifact_type != services1.artifact_type }?'background: lightskyblue;'">..</p>
                <p th:utext="' docker_registry: ' + ${services2.docker_registry}" th:style="${!isNotEqual and isFirstElementExist and services2.docker_registry != services1.docker_registry }?'background: lightskyblue;'">..</p>
                <p th:utext="' docker_image_name: ' + ${services2.docker_image_name}" th:style="${!isNotEqual and isFirstElementExist and services2.docker_image_name != services1.docker_image_name }?'background: lightskyblue;'">..</p>
                <p th:utext="' docker_tag: ' + ${services2.docker_tag}" th:style="${!isNotEqual and isFirstElementExist and services2.docker_tag != services1.docker_tag }?'background: lightskyblue;'">..</p>
                <p th:utext="${services2.force != null}?' force: ' + ${services2.force}: '..'" th:style="${!isNotEqual and isFirstElementExist and services2.force != services1.force }?'background: lightskyblue;'">..</p>
                <p th:utext="${services2.github_repository != null}?' github_repository: ' + ${services2.github_repository}: '..'" th:style="${!isNotEqual and isFirstElementExist and services2.github_repository != services1.github_repository }?'background: lightskyblue;'">..</p>
                <p th:utext="${services2.github_branch != null}?' github_branch: ' + ${services2.github_branch}: '..'" th:style="${!isNotEqual and isFirstElementExist and services2.github_branch != services1.github_branch }?'background: lightskyblue;'">..</p>
                <p th:utext="${services2.github_hash != null}?' github_hash: ' + ${services2.github_hash}: '..'" th:style="${!isNotEqual and isFirstElementExist and services2.github_hash != services1.github_hash }?'background: lightskyblue;'">..</p>
                <p th:utext="' sha1: ' + ${services2.hashes.sha1}" th:style="${!isNotEqual and isFirstElementExist and services2.hashes.sha1 != services1.hashes.sha1 }?'background: lightskyblue;'">..</p>
                <p th:utext="' sha256: ' + ${services2.hashes.sha256}" th:style="${!isNotEqual and isFirstElementExist and services2.hashes.sha256 != services1.hashes.sha256 }?'background: lightskyblue;'">..</p>
                </div>
            </th:block>
        </td>
    </tr>
</table>

<h3 align="center">artifacts</h3>
<table>
    <tr>
        <th></th>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>

    <tr th:each="i:${#numbers.sequence(0, Tech.artifactsLength-1)}" th:with = "artifactsElement1 =${jsonfile1.artifacts.length > i}? ${jsonfile1.artifacts[i]},
    artifactsElement2 = ${jsonfile2.artifacts[i]}">

        <td align="center"><p th:utext="${i+1}">..</p></td>

        <td valign="top" align="center">
            <th:block th:if="${jsonfile1.artifacts.length > i }">
                <th:block th:if="${i==0}">
                    <th:block th:each="count:${#numbers.sequence(0, Tech.mvnLength-1)}">
                        <div th:with = "isNotEqual = ${Tech.isMvnEqual.length-1 > count and !Tech.isMvnEqual[count]},
                        isSecondElementExist = ${artifactsElement2.mvn.length > count}, isCurrentElementExist = ${artifactsElement1.mvn.length > count },
                        mvnCount1 = ${isCurrentElementExist}? ${jsonfile1.artifacts[i].mvn[count]}, mvnCount2 = ${isSecondElementExist}? ${jsonfile2.artifacts[i].mvn[count]} "
                             th:style="${isNotEqual}?'background: indianred;'"  th:styleappend="${!isSecondElementExist} ? 'background: indianred;'">
                        <p th:utext="${isCurrentElementExist }?' groupId: '  + ${mvnCount1.groupId} : '..'">..</p>
                        <p th:utext="${isCurrentElementExist }?' artifactId: '  + ${mvnCount1.artifactId} : '..'">..</p>
                        <p th:utext="${isCurrentElementExist }?' version: '  + ${mvnCount1.version} : '..'">..</p>
                        <p th:utext="${isCurrentElementExist and mvnCount1.service_name != null}?' service_name: '  + ${mvnCount1.service_name} : '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.service_name != mvnCount2.service_name }? 'background: lightskyblue;'">..</p>
                        <p th:utext="${isCurrentElementExist and mvnCount1.classifier != null}?' classifier: '  + ${mvnCount1.classifier} : '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.classifier != mvnCount2.classifier }? 'background: lightskyblue;'">..</p>
                        <p th:utext="${isCurrentElementExist }?' mvn_type: '  + ${mvnCount1.mvn_type} : '..'">..</p>
                        <p th:utext="${isCurrentElementExist }?' mvn_repository: '  + ${mvnCount1.mvn_repository} : '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.mvn_repository != mvnCount2.mvn_repository }? 'background: lightskyblue;'">..</p>
                        <p th:utext="${isCurrentElementExist }?' sha1: '  + ${mvnCount1.hashes.sha1} : '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.hashes.sha1 != mvnCount2.hashes.sha1 }? 'background: lightskyblue;'">..</p>
                        <p th:utext="${isCurrentElementExist }?' sha256: '  + ${mvnCount1.hashes.sha256} : '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.hashes.sha256 != mvnCount2.hashes.sha256 }? 'background: lightskyblue;'">..</p>
                        <p>...</p>
                        </div>
                    </th:block >
                    <p th:utext="' target_repository: '  + ${artifactsElement1.target_repository}" th:style="${jsonfile2.artifacts.length > i and artifactsElement1.target_repository != artifactsElement2.target_repository}? 'background: lightskyblue;'" >..</p>
                </th:block>
                <th:block th:if="${i > 0}">
                    <div th:style="${jsonfile2.artifacts.length > i}?: 'background: indianred;'">
                    <p th:utext="${jsonfile1.artifacts.length > i and artifactsElement1.service_short_name != null  } ? ' service-short-name: '  + ${artifactsElement1.service_short_name} : '..'" th:style="${jsonfile1.artifacts.length > i and artifactsElement1.service_short_name != artifactsElement2.service_short_name }? 'background: lightskyblue;'">..</p>
                    <p th:utext="${jsonfile1.artifacts.length > i and artifactsElement1.service_name != null  } ?' service_name: '  + ${artifactsElement1.service_name} : '..'" th:style="${jsonfile1.artifacts.length > i and artifactsElement1.service_name != artifactsElement2.service_name }? 'background: lightskyblue;'">..</p>
                    <p th:utext="' sha1: '  + ${artifactsElement1.hashes.sha1}" th:style="${jsonfile1.artifacts.length > i and artifactsElement1.hashes.sha1 != artifactsElement2.hashes.sha1 }? 'background: lightskyblue;'">..</p>
                    <p th:utext="' sha256: '  + ${artifactsElement1.hashes.sha256}" th:style="${jsonfile1.artifacts.length > i and artifactsElement1.hashes.sha256 != artifactsElement2.hashes.sha256 }? 'background: lightskyblue;'">..</p>
                    <p th:utext="' file: '  + ${artifactsElement1.file[0]}" th:style="${jsonfile1.artifacts.length > i and artifactsElement1.file[0] != artifactsElement2.file[0] }? 'background: lightskyblue;'">..</p>
                    <p th:utext="' target_repository: '  + ${artifactsElement1.target_repository}" th:style="${jsonfile1.artifacts.length > i and artifactsElement1.target_repository != artifactsElement2.target_repository }? 'background: lightskyblue;'">..</p>
                    </div>
                </th:block>
            </th:block>
        </td>
        <td valign="top" align="center">
            <th:block th:if="${jsonfile2.artifacts.length > i }">
                <th:block th:if="${i==0}">
                    <th:block th:each="count:${#numbers.sequence(0, Tech.mvnLength-1)}">
                        <div th:with = "isNotEqual = ${Tech.isMvnEqual.length-1 > count and !Tech.isMvnEqual[count]},
                        isSecondElementExist = ${jsonfile1.artifacts[i].mvn.length > count}, isCurrentElementExist = ${jsonfile2.artifacts[i].mvn.length > count},
                         mvnCount2 = ${isCurrentElementExist}? ${jsonfile2.artifacts[i].mvn[count]}, mvnCount1 = ${isSecondElementExist}? ${jsonfile1.artifacts[i].mvn[count]}"
                             th:style="${isNotEqual}?'background: greenyellow;'"  th:styleappend="${!isSecondElementExist} ? 'background: greenyellow;'">
                        <p th:utext="${isCurrentElementExist }?' groupId: '  + ${mvnCount2.groupId} : '..'"></p>
                        <p th:utext="${isCurrentElementExist }?' artifactId: '  + ${mvnCount2.artifactId}: '..'"></p>
                        <p th:utext="${isCurrentElementExist }?' version: '  + ${mvnCount2.version}: '..'"></p>
                        <p th:utext="${isCurrentElementExist and mvnCount2.service_name != null }?' service_name: '  + ${mvnCount2.service_name}: '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount2.service_name != mvnCount1.service_name }? 'background: lightskyblue;'"></p>
                        <p th:utext="${isCurrentElementExist and mvnCount2.classifier != null }?' classifier: '  + ${mvnCount2.classifier}: '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.classifier != mvnCount2.classifier }? 'background: lightskyblue;'"></p>
                        <p th:utext="${isCurrentElementExist }?' mvn_type: '  + ${mvnCount2.mvn_type}: '..'"></p>
                        <p th:utext="${isCurrentElementExist }?' mvn_repository: '  + ${mvnCount2.mvn_repository}: '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.mvn_repository != mvnCount2.mvn_repository }? 'background: lightskyblue;'"></p>
                        <p th:utext="${isCurrentElementExist }?' sha1: '  + ${mvnCount2.hashes.sha1}: '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.hashes.sha1 != mvnCount2.hashes.sha1 }? 'background: lightskyblue;'"></p>
                        <p th:utext="${isCurrentElementExist }?' sha256: '  + ${mvnCount2.hashes.sha256}: '..'" th:style="${!isNotEqual and isCurrentElementExist and isSecondElementExist and mvnCount1.hashes.sha256 != mvnCount2.hashes.sha256 }? 'background: lightskyblue;'"></p>
                        <p>...</p>
                        </div>
                    </th:block>
                    <p th:utext="' target_repository: '  + ${jsonfile2.artifacts[i].target_repository}" th:style="${jsonfile1.artifacts.length > i and jsonfile1.artifacts[i].target_repository != jsonfile2.artifacts[i].target_repository}? 'background: lightskyblue;'">..</p>
                </th:block>
                <th:block th:if="${i > 0}">
                    <p th:utext="' service-short-name: '  + ${jsonfile2.artifacts[i].service_short_name}">..</p>
                    <p th:utext="' service_name: '  + ${jsonfile2.artifacts[i].service_name}">..</p>
                    <p th:utext="' sha1: '  + ${jsonfile2.artifacts[i].hashes.sha1}">..</p>
                    <p th:utext="' sha256: '  + ${jsonfile2.artifacts[i].hashes.sha256}">..</p>
                    <p th:utext="' file: '  + ${jsonfile2.artifacts[i].file[0]}">..</p>
                    <p th:utext="' target_repository: '  + ${jsonfile2.artifacts[i].target_repository}">..</p>
                </th:block>
            </th:block>
        </td>
    </tr>
</table>

<h3 align="center">script</h3>
<table>
    <tr>
        <th></th>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>

    <tr th:each="i:${#numbers.sequence(0, Tech.scriptLength-1)}"
        th:with =    "  isFirstElementExist = ${jsonfile1.script.length > i},
                        isSecondElementExist = ${jsonfile2.script.length > i},
                        isNotEqual = ${isFirstElementExist and isSecondElementExist and jsonfile1.script[i].url != jsonfile2.script[i].url},
                        isNotEqual2 = ${isFirstElementExist and !isSecondElementExist},
                        isNotEqual3 = ${isSecondElementExist and !isFirstElementExist},
                        script1 = ${isFirstElementExist}? ${jsonfile1.script[i]},
                        script2 = ${isSecondElementExist}? ${jsonfile2.script[i]}"
        th:style="${isNotEqual2}? 'background: indianred;'"
        th:styleappend="${isNotEqual3} ? 'background: greenyellow;'">

        <td align="center"><p th:utext="${i+1}">..</p></td>

        <td align="center">
            <th:block th:if="${isFirstElementExist}">
                <div  th:style="${isNotEqual}? 'background: indianred;'">
                <p th:utext="${script1.service_short_name != null}?' service-short-name: '  + ${script1.service_short_name} : '..'" th:style="${!isNotEqual and isSecondElementExist and script1.service_short_name != script2.service_short_name }?'background: lightskyblue;'">..</p>
                <p th:utext="${script1.start_point != null}?' start-point: ' + ${script1.start_point}: '..'" th:style="${!isNotEqual and isSecondElementExist and script1.start_point != script2.start_point }?'background: lightskyblue;'">..</p>
                <p th:utext="${script1.end_point != null}?' end-point: ' + ${script1.end_point}: '..'" th:style="${!isNotEqual and isSecondElementExist and script1.end_point != script2.end_point }?'background: lightskyblue;'">..</p>
                <p th:utext="' script_name: ' + ${script1.script_name}" th:style="${!isNotEqual and isSecondElementExist and script1.script_name != script2.script_name }?'background: lightskyblue;'">..</p>
                <p th:utext="' sha1: ' + ${script1.hashes.sha1}" th:style="${!isNotEqual and isSecondElementExist and script1.hashes.sha1 != script2.hashes.sha1 }?'background: lightskyblue;'">..</p>
                <p th:utext="' sha256: ' + ${script1.hashes.sha256}" th:style="${!isNotEqual and isSecondElementExist and script1.hashes.sha256 != script2.hashes.sha256 }?'background: lightskyblue;'">..</p>
                <p th:utext="' url: ' + ${script1.url}" th:style="${!isNotEqual and isSecondElementExist and script1.url != script2.url }?'background: lightskyblue;'">..</p>
                </div>
            </th:block>
        </td>
        <td align="center">
            <th:block th:if="${isSecondElementExist}">
                <div  th:style="${isNotEqual}? 'background: greenyellow;'">
                <p th:utext="${script2.service_short_name != null}?' service-short-name: '  + ${script2.service_short_name} : '..'" th:style="${!isNotEqual and isFirstElementExist and script1.service_short_name != script2.service_short_name }?'background: lightskyblue;'">..</p>
                <p th:utext="${script2.service_short_name != null}?' start-point: ' + ${script2.start_point} : '..'" th:style="${!isNotEqual and isFirstElementExist and script1.start_point != script2.start_point }?'background: lightskyblue;'">..</p>
                <p th:utext="${script2.service_short_name != null}?' end-point: ' + ${script2.end_point} : '..'" th:style="${!isNotEqual and isFirstElementExist and script1.end_point != script2.end_point }?'background: lightskyblue;'">..</p>
                <p th:utext="' script_name: ' + ${script2.script_name}" th:style="${!isNotEqual and isFirstElementExist and script1.script_name != script2.script_name }?'background: lightskyblue;'">..</p>
                <p th:utext="' sha1: ' + ${script2.hashes.sha1}" th:style="${!isNotEqual and isFirstElementExist and script1.hashes.sha1 != script2.hashes.sha1 }?'background: lightskyblue;'">..</p>
                <p th:utext="' sha256: ' + ${script2.hashes.sha256}" th:style="${!isNotEqual and isFirstElementExist and script1.hashes.sha256 != script2.hashes.sha256 }?'background: lightskyblue;'">..</p>
                <p th:utext="' url: ' + ${script2.url}" th:style="${!isNotEqual and isFirstElementExist and script1.url != script2.url }?'background: lightskyblue;'">..</p>
                </div>
            </th:block>
        </td>
    </tr>
</table>

<h3 align="center">rpm</h3>
<table>
    <tr>
        <th></th>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>
    <tr th:each="i:${#numbers.sequence(0, Tech.rpmLength-1)}"
        th:with =    "  isFirstElementExist = ${jsonfile1.rpm.length > i},
                        isSecondElementExist = ${jsonfile2.rpm.length > i},
                        isNotEqual = ${isFirstElementExist and isSecondElementExist and jsonfile1.rpm[i].url != jsonfile2.rpm[i].url},
                        isNotEqual2 = ${isFirstElementExist and !isSecondElementExist},
                        isNotEqual3 = ${isSecondElementExist and !isFirstElementExist},
                        rpm1 = ${isFirstElementExist}? ${jsonfile1.rpm[i]},
                        rpm2 = ${isSecondElementExist}? ${jsonfile2.rpm[i]}"
        th:style="${isNotEqual2}? 'background: indianred;'"
        th:styleappend="${isNotEqual3} ? 'background: greenyellow;'">

        <td align="center"><p th:utext="${i+1}">..</p></td>

        <td align="center">
            <th:block th:if="${isFirstElementExist}">
                <div  th:style="${isNotEqual}? 'background: indianred;'">
                <p th:utext="'url: ' + ${rpm1.url}" th:style="${!isNotEqual and isSecondElementExist and rpm1.url != rpm2.url }?'background: lightskyblue;'">..</p>
                <p th:utext="'rpm_repository_name: ' + ${rpm1.rpm_repository_name}" th:style="${!isNotEqual and isSecondElementExist and rpm1.rpm_repository_name != rpm2.rpm_repository_name }?'background: lightskyblue;'">..</p>
                <p th:utext="'sha1: ' + ${rpm1.hashes.sha1}" th:style="${!isNotEqual and isSecondElementExist and rpm1.hashes.sha1 != rpm2.hashes.sha1 }?'background: lightskyblue;'">..</p>
                <p th:utext="'sha256: ' + ${rpm1.hashes.sha256}" th:style="${!isNotEqual and isSecondElementExist and rpm1.hashes.sha256 != rpm2.hashes.sha256 }?'background: lightskyblue;'">..</p>
                <p th:utext="${rpm1.service_short_name != null}? 'service-short-name: ' + ${rpm1.service_short_name} : '..'" th:style="${!isNotEqual and isSecondElementExist and rpm1.service_short_name != rpm2.service_short_name }?'background: lightskyblue;'">..</p>
                </div>
            </th:block>
        </td>
        <td align="center">
            <th:block th:if="${isSecondElementExist}">
                <div  th:style="${isNotEqual}? 'background: greenyellow;'">
                <p th:utext="'url: ' + ${rpm2.url}" th:style="${!isNotEqual and isFirstElementExist and rpm1.url != rpm2.url }?'background: lightskyblue;'">..</p>
                <p th:utext="'rpm_repository_name: ' + ${rpm2.rpm_repository_name}" th:style="${!isNotEqual and isFirstElementExist and rpm1.rpm_repository_name != rpm2.rpm_repository_name }?'background: lightskyblue;'">..</p>
                <p th:utext="'sha1: ' + ${rpm2.hashes.sha1}" th:style="${!isNotEqual and isFirstElementExist and rpm1.hashes.sha1 != rpm2.hashes.sha1 }?'background: lightskyblue;'">..</p>
                <p th:utext="'sha256: ' + ${rpm2.hashes.sha256}" th:style="${!isNotEqual and isFirstElementExist and rpm1.hashes.sha256 != rpm2.hashes.sha256 }?'background: lightskyblue;'">..</p>
                <p th:utext="${rpm2.service_short_name != null}? 'service-short-name: ' + ${rpm2.service_short_name} : '..'" th:style="${!isNotEqual and isFirstElementExist and rpm1.service_short_name != rpm2.service_short_name }?'background: lightskyblue;'">..</p>
                </div>
            </th:block>
        </td>
    </tr>
</table>

<h3 align="center">parameters</h3>
<table>
    <tr>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>

    <tr>
        <td align="center">
            <p>common:</p>
            <th:block th:each="i:${#numbers.sequence(0, Tech.commonLength-1)}">
                    <p th:utext="${#maps.size(jsonfile1.parameters.common) > i} ? ${Tech.commonKeys1[i]} + ' : ' + ${Tech.commonValues1[i]} : '_'">..</p>
            </th:block>
            <p>services:</p>
            <th:block th:each="i:${#numbers.sequence(0, Tech.serviceNameLength-1)}">
                <p th:utext="${#maps.size(jsonfile1.parameters.services.service_name) > i} ? ${Tech.serviceKeys1[i]} + ' : ' + ${Tech.serviceValues1[i]} : '_'">..</p>
            </th:block>
        </td>
        <td align="center">
            <p>common:</p>
            <th:block th:each="i:${#numbers.sequence(0, Tech.commonLength-1)}">
                <p th:utext="${#maps.size(jsonfile2.parameters.common) > i} ? ${Tech.commonKeys2[i]} + ' : ' + ${Tech.commonValues2[i]} : '_'">..</p>
            </th:block>
            <p>services:</p>
            <th:block th:each="i:${#numbers.sequence(0, Tech.serviceNameLength-1)}">
                <p th:utext="${#maps.size(jsonfile2.parameters.services.service_name) > i} ? ${Tech.serviceKeys2[i]} + ' : ' + ${Tech.serviceValues2[i]} : '_'">..</p>
            </th:block>
        </td>
    </tr>
</table>

</body>
</html>