<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        table {
            border: 4px double #333;
            border-collapse: separate;
            width: 100%;
            border-spacing: 7px 11px;
        }
    </style>
</head>
<body>
<h1 align="center">Comparison report</h1>
<h3 align="center">metadata</h3>
<table>
    <tr>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>
    <tr>
        <td align="center"><p th:text="'name: ' + ${jsonfile1.metadata.application.name}"/></td>
        <td align="center"><p th:text="'name: ' + ${jsonfile2.metadata.application.name}"/></td>
    </tr>
    <tr>
        <td align="center"><p th:text="'version: ' + ${jsonfile1.metadata.description.version}"/></td>
        <td align="center"><p th:text="'version: ' + ${jsonfile2.metadata.description.version}"/></td>
    </tr>
</table>

<h3 align="center">services</h3>
<table>
    <tr>
        <th></th>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>

    <tr th:each="i:${#numbers.sequence(0, Tech.servicesLength-1)}">

        <td align="center"><p th:utext="${i+1}">..</p></td>

        <td align="center">
            <th:block th:if="${jsonfile1.services.length > i}">
                <p th:utext="' service-short-name: '  + ${jsonfile1.services[i].service_short_name}">..</p>
                <p th:utext="' service_name: ' + ${jsonfile1.services[i].service_name}">..</p>
                <p th:utext="' artifact_type: ' + ${jsonfile1.services[i].artifact_type}">..</p>
                <p th:utext="' docker_registry: ' + ${jsonfile1.services[i].docker_registry}">..</p>
                <p th:utext="' docker_image_name: ' + ${jsonfile1.services[i].docker_image_name}">..</p>
                <p th:utext="' docker_tag: ' + ${jsonfile1.services[i].docker_tag}">..</p>
                <p th:utext="' force: ' + ${jsonfile1.services[i].force}">..</p>
                <p th:utext="' github_repository: ' + ${jsonfile1.services[i].github_repository}">..</p>
                <p th:utext="' github_branch: ' + ${jsonfile1.services[i].github_branch}">..</p>
                <p th:utext="' github_hash: ' + ${jsonfile1.services[i].github_hash}">..</p>
                <p th:utext="' sha1: ' + ${jsonfile1.services[i].hashes.sha1}">..</p>
                <p th:utext="' sha256: ' + ${jsonfile1.services[i].hashes.sha256}">..</p>
            </th:block>
        </td>
        <td align="center">
            <th:block th:if="${jsonfile2.services.length > i}">
                <p th:utext="' service-short-name: ' + ${jsonfile2.services[i].service_short_name}">..</p>
                <p th:utext="' service_name: ' + ${jsonfile2.services[i].service_name}">..</p>
                <p th:utext="' artifact_type: ' + ${jsonfile2.services[i].artifact_type}">..</p>
                <p th:utext="' docker_registry: ' + ${jsonfile2.services[i].docker_registry}">..</p>
                <p th:utext="' docker_image_name: ' + ${jsonfile2.services[i].docker_image_name}">..</p>
                <p th:utext="' docker_tag: ' + ${jsonfile2.services[i].docker_tag}">..</p>
                <p th:utext="' force: ' + ${jsonfile2.services[i].force}">..</p>
                <p th:utext="' github_repository: ' + ${jsonfile2.services[i].github_repository}">..</p>
                <p th:utext="' github_branch: ' + ${jsonfile2.services[i].github_branch}">..</p>
                <p th:utext="' github_hash: ' + ${jsonfile2.services[i].github_hash}">..</p>
                <p th:utext="' sha1: ' + ${jsonfile2.services[i].hashes.sha1}">..</p>
                <p th:utext="' sha256: ' + ${jsonfile2.services[i].hashes.sha256}">..</p>
            </th:block>
        </td>
    </tr>
</table>

<h3 align="center">artifacts</h3>
<table>
    <tr>
        <th></th>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>

    <tr th:each="i:${#numbers.sequence(0, Tech.artifactsLength-1)}">

        <td align="center"><p th:utext="${i+1}">..</p></td>

        <td align="center">
            <th:block th:if="${jsonfile1.artifacts.length > i }">
                <th:block th:if="${i==0}">
                    <th:block th:each="count:${#numbers.sequence(0, jsonfile1.artifacts[0].mvn.length-1)}">
                        <p th:utext="' groupId: '  + ${jsonfile1.artifacts[i].mvn[count].groupId}">..</p>
                        <p th:utext="' artifactId: '  + ${jsonfile1.artifacts[i].mvn[count].artifactId}">..</p>
                        <p th:utext="' version: '  + ${jsonfile1.artifacts[i].mvn[count].version}">..</p>
                        <p th:utext="' service_name: '  + ${jsonfile1.artifacts[i].mvn[count].service_name}">..</p>
                        <p th:utext="' classifier: '  + ${jsonfile1.artifacts[i].mvn[count].classifier}">..</p>
                        <p th:utext="' mvn_type: '  + ${jsonfile1.artifacts[i].mvn[count].mvn_type}">..</p>
                        <p th:utext="' mvn_repository: '  + ${jsonfile1.artifacts[i].mvn[count].mvn_repository}">..</p>
                        <p th:utext="' sha1: '  + ${jsonfile1.artifacts[i].mvn[count].hashes.sha1}">..</p>
                        <p th:utext="' sha256: '  + ${jsonfile1.artifacts[i].mvn[count].hashes.sha256}">..</p>
                        <p>...</p>
                    </th:block>
                    <p th:utext="' target_repository: '  + ${jsonfile1.artifacts[i].target_repository}">..</p>
                </th:block>
                <th:block th:if="${i > 0}">
                    <p th:utext="' service-short-name: '  + ${jsonfile1.artifacts[i].service_short_name}">..</p>
                    <p th:utext="' service_name: '  + ${jsonfile1.artifacts[i].service_name}">..</p>
                    <p th:utext="' sha1: '  + ${jsonfile1.artifacts[i].hashes.sha1}">..</p>
                    <p th:utext="' sha256: '  + ${jsonfile1.artifacts[i].hashes.sha256}">..</p>
                    <p th:utext="' file: '  + ${jsonfile1.artifacts[i].file[0]}">..</p>
                    <p th:utext="' target_repository: '  + ${jsonfile1.artifacts[i].target_repository}">..</p>
                </th:block>
            </th:block>
        </td>
        <td align="center">
            <th:block th:if="${jsonfile2.artifacts.length > i }">
                <th:block th:if="${i==0}">
                    <th:block th:each="count:${#numbers.sequence(0, jsonfile2.artifacts[0].mvn.length-1)}">
                        <p th:utext="' groupId: '  + ${jsonfile2.artifacts[i].mvn[count].groupId}">..</p>
                        <p th:utext="' artifactId: '  + ${jsonfile2.artifacts[i].mvn[count].artifactId}">..</p>
                        <p th:utext="' version: '  + ${jsonfile2.artifacts[i].mvn[count].version}">..</p>
                        <p th:utext="' service_name: '  + ${jsonfile2.artifacts[i].mvn[count].service_name}">..</p>
                        <p th:utext="' classifier: '  + ${jsonfile2.artifacts[i].mvn[count].classifier}">..</p>
                        <p th:utext="' mvn_type: '  + ${jsonfile2.artifacts[i].mvn[count].mvn_type}">..</p>
                        <p th:utext="' mvn_repository: '  + ${jsonfile2.artifacts[i].mvn[count].mvn_repository}">..</p>
                        <p th:utext="' sha1: '  + ${jsonfile2.artifacts[i].mvn[count].hashes.sha1}">..</p>
                        <p th:utext="' sha256: '  + ${jsonfile2.artifacts[i].mvn[count].hashes.sha256}">..</p>
                        <p>...</p>
                    </th:block>
                    <p th:utext="' target_repository: '  + ${jsonfile2.artifacts[i].target_repository}">..</p>
                </th:block>
                <th:block th:if="${i > 0}">
                    <p th:utext="' service-short-name: '  + ${jsonfile2.artifacts[i].service_short_name}">..</p>
                    <p th:utext="' service_name: '  + ${jsonfile2.artifacts[i].service_name}">..</p>
                    <p th:utext="' sha1: '  + ${jsonfile2.artifacts[i].hashes.sha1}">..</p>
                    <p th:utext="' sha256: '  + ${jsonfile2.artifacts[i].hashes.sha256}">..</p>
                    <p th:utext="' file: '  + ${jsonfile2.artifacts[i].file[0]}">..</p>
                    <p th:utext="' target_repository: '  + ${jsonfile2.artifacts[i].target_repository}">..</p>
                </th:block>
            </th:block>
        </td>
    </tr>
</table>

<h3 align="center">script</h3>
<table>
    <tr>
        <th></th>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>

    <tr th:each="i:${#numbers.sequence(0, Tech.ScriptLength-1)}">

        <td align="center"><p th:utext="${i+1}">..</p></td>

        <td align="center">
            <th:block th:if="${jsonfile1.script.length > i}">
                <p th:utext="' service-short-name: '  + ${jsonfile1.script[i].service_short_name}">..</p>
                <p th:utext="' start-point: ' + ${jsonfile1.script[i].start_point}">..</p>
                <p th:utext="' end-point: ' + ${jsonfile1.script[i].end_point}">..</p>
                <p th:utext="' script_name: ' + ${jsonfile1.script[i].script_name}">..</p>
                <p th:utext="' sha1: ' + ${jsonfile1.script[i].hashes.sha1}">..</p>
                <p th:utext="' sha256: ' + ${jsonfile1.script[i].hashes.sha256}">..</p>
                <p th:utext="' url: ' + ${jsonfile1.script[i].url}">..</p>
            </th:block>
        </td>
        <td align="center">
            <th:block th:if="${jsonfile2.script.length > i}">
                <p th:utext="' service-short-name: '  + ${jsonfile2.script[i].service_short_name}">..</p>
                <p th:utext="' start-point: ' + ${jsonfile2.script[i].start_point}">..</p>
                <p th:utext="' end-point: ' + ${jsonfile2.script[i].end_point}">..</p>
                <p th:utext="' script_name: ' + ${jsonfile2.script[i].script_name}">..</p>
                <p th:utext="' sha1: ' + ${jsonfile2.script[i].hashes.sha1}">..</p>
                <p th:utext="' sha256: ' + ${jsonfile2.script[i].hashes.sha256}">..</p>
                <p th:utext="' url: ' + ${jsonfile2.script[i].url}">..</p>
            </th:block>
        </td>
    </tr>
</table>

<h3 align="center">rpm</h3>
<table>
    <tr>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>
    <tr>
        <td align="center">
            <th:block>
                <p th:text="'url: ' + ${jsonfile1.rpm.url}"/>
                <p th:text="'rpm_repository_name: ' + ${jsonfile1.rpm.rpm_repository_name}"/>
                <p th:text="'sha1: ' + ${jsonfile1.rpm.hashes.sha1}"/>
                <p th:text="'sha256: ' + ${jsonfile1.rpm.hashes.sha256}"/>
                <p th:text="'service-short-name: ' + ${jsonfile1.rpm.service_short_name}"/>
            </th:block>
        </td>
        <td align="center">
            <th:block>
                <p th:text="'url: ' + ${jsonfile2.rpm.url}"/>
                <p th:text="'rpm_repository_name: ' + ${jsonfile2.rpm.rpm_repository_name}"/>
                <p th:text="'sha1: ' + ${jsonfile2.rpm.hashes.sha1}"/>
                <p th:text="'sha256: ' + ${jsonfile2.rpm.hashes.sha256}"/>
                <p th:text="'service-short-name: ' + ${jsonfile2.rpm.service_short_name}"/>
            </th:block>
        </td>
    </tr>
</table>

<h3 align="center">parameters</h3>
<table>
    <tr>
        <th>First Json File</th>
        <th>Second Json File</th>
    </tr>

    <tr>
        <td align="center">
            <p>common:</p>
            <th:block th:each="i:${#numbers.sequence(0, Tech.commonLength-1)}">
                    <p th:utext="${#maps.size(jsonfile1.parameters.common) > i} ? ${Tech.commonKeys1[i]} + ' : ' + ${Tech.commonValues1[i]} : '_'">..</p>
            </th:block>
            <p>services:</p>
            <th:block th:each="i:${#numbers.sequence(0, Tech.serviceNameLength-1)}">
                <p th:utext="${#maps.size(jsonfile1.parameters.services.service_name) > i} ? ${Tech.serviceKeys1[i]} + ' : ' + ${Tech.serviceValues1[i]} : '_'">..</p>
            </th:block>
        </td>
        <td align="center">
            <p>common:</p>
            <th:block th:each="i:${#numbers.sequence(0, Tech.commonLength-1)}">
                <p th:utext="${#maps.size(jsonfile2.parameters.common) > i} ? ${Tech.commonKeys2[i]} + ' : ' + ${Tech.commonValues2[i]} : '_'">..</p>
            </th:block>
            <p>services:</p>
            <th:block th:each="i:${#numbers.sequence(0, Tech.serviceNameLength-1)}">
                <p th:utext="${#maps.size(jsonfile2.parameters.services.service_name) > i} ? ${Tech.serviceKeys2[i]} + ' : ' + ${Tech.serviceValues2[i]} : '_'">..</p>
            </th:block>
        </td>
    </tr>
</table>

</body>
</html>