<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        table {
            border: 4px double #333;
            border-collapse: separate;
            width: 100%;
            border-spacing: 7px 11px;
        }

    </style>
</head>
<body>
<h1 align="center">Comparison report</h1>
<table>
    <tr><th>First Json File</th><th>Second Json File</th></tr>
    <tr><h3 align="center">metadata</h3></tr>
    <tr ><td  align="center"> <p th:text="'name: ' + ${jsonfile1.metadata.application.name}"/> </td><td align="center"><p th:text="'name: ' + ${jsonfile2.metadata.application.name}"/></td></tr>
    <tr><td align="center"> <p th:text="'version: ' + ${jsonfile1.metadata.description.version}"/> </td><td align="center"><p th:text="'version: ' + ${jsonfile2.metadata.description.version}"/></td></tr>
</table>

<h3 align="center">services</h3>
<table>
    <tr><th>First Json File</th><th>Second Json File</th></tr>

    <tr ><td  align="center"> <th:block th:each="serv, i : ${jsonfile1.services}"><p th:utext="${i.count} + ' service-short-name: ' + ${serv.service_short_name}">..</p></th:block></td><td align="center"><th:block th:each="serv, i : ${jsonfile2.services}"><p th:utext="${i.count} + ' service-short-name: ' + ${serv.service_short_name}">..</p></th:block></td></tr>
    <tr><td align="center"> <th:block th:each="serv, i : ${jsonfile1.services}"><p th:utext="${i.count} + ' service_name: ' + ${serv.service_name}">..</p></th:block><td align="center"><th:block th:each="serv, i : ${jsonfile2.services}"><p th:utext="${i.count} + ' service_name: ' + ${serv.service_name}">..</p></th:block></td></tr>
</table>

</body>
</html>